header#main-header{
    background-color: var(--bg-color);
}


#leyenda1 {
    color: var(--bg-color);
    font-family: var(--font-family);
    font-size: 16px;
    margin: 0;
    display: block;
    width: 60%;
    float: right;
}

@media (min-width: 640px) {
    #leyenda1 {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #leyenda1 {
        font-size: 30px;
    }
}

#leyenda1 p {
    padding: 15px;
    background-color: #000;
    margin: 0;
    width: 90%;
    float: right;
}
