:root {
    --bg-color: #ffffff;
    --link-color: #fd0000;
    --text-color: #000;
    --font-family: "Ibarra Real Nova", serif;
    --font-footer: "Roboto Mono", Monospace;
}

body {
    font-size: var(--font-family);
    font-size: 30px;
    color: var(--text-color);
    text-align: left;
}

h1 {
    font-family: var(--font-family);
    font-size: 51px;
    text-align: left;
}

h2 {
    font-family: var(--font-family);
    font-size: 48px;
}

h3 {
    font-family: var(--font-family);
    font-size: 21px;
    text-align: left;
}

h4 {
    font-family: var(--font-family);
    font-size: 22px;
}

h5 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}
   
    h6 {
        font-family: var(--font-family);
        font-size: 30px;
        font-weight: bold;
        text-align: center;

    }

h7 {
    font-family: var(--font-footer);
    font-size: 16px;
    text-align: left;
}

img {
    max-width: 100%;
}

#main-row{
    display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-family);
        font-size: 14px;
        text-align: left;
        margin-left: 40px;
        margin-right: 10px;
}

#main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family);
    font-size: 14px;
    text-align: left;

}

.nav-link {
    background-color: var(--accent-color);
    color: var(--text-color);
    transition: all 100ms ease-in;
    padding: 10px;
    margin: 4px;
    border-radius: 10px;
    text-decoration: none;
}

.nav-link:hover {
    transition: all 300ms ease-out;
    background-color: var(--hover-color);
    color: var(--link-color);


}

#leyenda {
    font-family: var(--font-family);
    font-size: 30px;
    margin: 15px 0;
    padding: 15px 15px;
}

#team {
    margin: 0 auto;
    float: none;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#main-footer {
    padding-top: 1em;
    border-top: 1px solid #000;
}
#team p {
    font-size: 14px;
    font-family: var(--font-footer);
    text-align: left;
}

.parrafo-texto {
    text-align: left;      
    padding-left: 0px;   
    padding-right: 224px;  
    line-height: 1.6;      
  }
  