
img {
    max-width: 100%;
}


#leyenda1 {
    color: white;
    background-color: #000;
    font-family: var(--font-family);
    font-size: 20px;
    padding: 0 15px;
    display: block;
    width: 60%;
    float: right;
}


@media (min-width: 640px) {
    #leyenda1 {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #leyenda1 {
        font-size: 48px;
    }
}

#leyenda2 {
    color: white;
    background-color: #000;
    font-family: var(--font-family);
    font-size: 14px;
  padding: 0 15px;
    display: block;
    width: 60%;
}


@media (min-width: 640px) {
    #leyenda2 {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #leyenda2 {
        font-size: 30px;
    }
}

#Estruendo {
    font-family: var(--font-family);
    font-size: 48px;
    color: white;
    display: block;
    padding: 0 15px;
    width: 50%;
    float: left;
    background-color: #000;
}

#TextoEstruendo {
    font-family: var(--font-family);
    font-size: 16px;
    color: black;
    display: block;
    padding: 0 15px;
    width: 50%;
    float: left;

}

@media (min-width: 640px) {
    #TextoEstruendo {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #TextoEstruendo {
        font-size: 30px;
    }
}


    #NoEstruendo {
        font-family: var(--font-family);
        font-size: 48px;
        color: white;
        display: block;
        padding: 0 15px;
        width: 50%;
        float: right;
        background-color: #000;
    }


#TextoNoEstruendo {
    font-family: var(--font-family);
    font-size: 16px;
    color: black;
    display: block;
    padding: 0 15px;
    width: 50%;
    float: right;
}

@media (min-width: 640px) {
    #TextoNoEstruendo {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #TextoNoEstruendo {
        font-size: 30px;
    }

  