img {
    max-width: 100%;
}

.nav-link {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 100ms ease-in;
    padding: 10px;
    margin: 4px;
    border-radius: 0px;
    text-decoration: none;
    width: 30%;
    max-width: 200px;
    display: inline-block;
}


#leyenda1 {
    color: white;
    background-color: #000;
    font-family: var(--font-family);
    font-size: 20px;
    padding: 0 15px;
    display: block;
    width: 60%;
    float: right;
}


@media (min-width: 640px) {
    #leyenda1 {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #leyenda1 {
        font-size: 48px;
    }
}

#leyenda2 {
    color: white;
    background-color: #000;
    font-family: var(--font-family);
    font-size: 14px;
    padding: 0 15px;
    display: block;
    width: 60%;
}


@media (min-width: 640px) {
    #leyenda2 {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #leyenda2 {
        font-size: 30px;
    }
}

#estruendo {
    font-family: var(--font-family);
    font-size: 48px;
    color: white;
    display: inline;
    padding: 0 20px;
    background-color: #000;
}

@media (min-width: 640px) {
    #estruendo {
        font-size: 30px;
    }
}

@media (min-width:1024px) {
    #Estruendo {
        font-size: 48px;
    }
}

#textoestruendo {
    font-family: var(--font-family);
    font-size: 16px;
    color: black;
    display: block;
    padding: 0 15px;
}

@media (min-width: 640px) {
    #textoestruendo {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #textoestruendo {
        font-size: 30px;
    }
}


#noestruendo {
    font-family: var(--font-family);
    font-size: 30px;
    color: white;
    display: block;
    padding: 0 15px;
    background-color: #000;
 float: right;
}
#noestruendo p {
    margin: 0;
}
@media (min-width: 640px) {
    #noestruendo {
        font-size: 30px;
    }
}

@media (min-width:1024px) {
    #noestruendo {
        font-size: 48px;
    }
}

#textonoestruendo {
    font-family: var(--font-family);
    font-size: 16px;
    color: black;
    display: block;
    float: right;
    padding: 0 15px;
}

@media (min-width: 640px) {
    #textonoestruendo {
        font-size: 22px;
    }
}

@media (min-width:1024px) {
    #textonoestruento {
n       font-size: 30px;
    }
}